@model ProductDetailViewModel

@{
    ViewBag.Title = "產品細項";

    var photoPath = $"~/images/{Model.product.PhotoPath ?? "Pikachu.png"}";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.product.ProductName</h1>
            </div>

            <div class="card-body text-center">
                <img src="@photoPath" class="card-img-top" asp-append-version="true" />
                <h4>產品類別：@Model.product.ProductClass</h4>
                <h4>產品數量：@Model.product.ProductCount</h4>
            </div>

            <div class="card-footer text-center">
                <a asp-controller="Product" asp-action="List" class="btn btn-primary m-1">返回</a>
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.product.Id" class="btn btn-danger m-1">編輯</a>
                <a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.product.Id" class="btn btn-danger m-1">刪除</a>
            </div>
        </div>
    </div>
</div>