@model ProductDetailViewModel

@{
    ViewBag.Title = "產品細項";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.product.ProductName</h1>
            </div>

            <div class="card-body text-center">
                <img src="~/images/Pikachu.png" class="card-img-top" />

                <h4>產品數量：@Model.product.ProductCount</h4>
            </div>

            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">返回</a>
                <a href="#" class="btn btn-danger">編輯</a>
                <a href="#" class="btn btn-danger">刪除</a>
            </div>
        </div>
    </div>
</div>